@{
    Layout = null;
    var list = ViewBag.Discussions as List<BusinessObject.Model.Discussion>;
    int UserId = ViewBag.User;
   
}
@model BusinessObject.Model.User;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LearnCourses | Contact</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../home/assets/img/favicon.ico" type="image/x-icon">

    <!-- Font awesome -->
    <link href="../home/assets/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="../home/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="../home/assets/css/slick.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="../home/assets/css/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="../home/assets/css/theme-color/default-theme.css" rel="stylesheet">

    <!-- Main style sheet -->
    <link href="../home/assets/css/style.css" rel="stylesheet">


    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>

    <style>
        /* Custom CSS */
        .discussion-comment {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            background-color: #f9f9f9;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

            .discussion-comment h5, .discussion-comment h6 {
                margin-bottom: 10px;
            }

            .discussion-comment h4 {
                margin-bottom: 15px;
            }

            .discussion-comment p {
                margin-bottom: 20px;
            }

        .btn-group {
            margin-top: 10px;
        }

        .btn {
            border-radius: 20px;
            padding: 8px 20px;
            margin-right: 10px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }

        .btn-success {
            background-color: #28a745;
            border-color: #28a745;
        }

            .btn-success:hover {
                background-color: #218838;
                border-color: #218838;
            }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
        }

            .btn-danger:hover {
                background-color: #c82333;
                border-color: #c82333;
            }
    </style>

</head>
<body>

    <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start header  -->
    <header id="mu-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="mu-header-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="mu-header-top-left">
                                    <div class="mu-top-email">
                                        <i class="fa fa-envelope"></i>
                                        <span>info@markups.io</span>
                                    </div>
                                    <div class="mu-top-phone">
                                        <i class="fa fa-phone"></i>
                                        <span>(568) 986 652</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="mu-header-top-right">
                                    <nav>
                                        <ul class="mu-top-social-nav">
                                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                            <li><a href="#"><span class="fa fa-youtube"></span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End header  -->
    <!-- Start menu -->
    <section id="mu-menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- LOGO -->
                    <!-- TEXT BASED LOGO -->
                    <a class="navbar-brand" href="index.html"><i class="fa fa-university"></i><span>LearnCourses</span></a>
                    <!-- IMG BASED LOGO  -->
                    <!-- <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="logo"></a> -->
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                        <li><a href="/Home/HomePage">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Course <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/Courses/Courses">Course Archive</a></li>
                                <li><a href="/Courses/CourseDetails">Course Detail</a></li>
                            </ul>
                        </li>
                        <li><a href="/Home/Gallery">Gallery</a></li>
                        <li class="active" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/Blog/BlogPublic">Blog Public</a></li>
                                <li><a href="/Blog/BlogSingle">Blog Single</a></li>
                            </ul>
                        </li>
                        <li><a href="/Home/Contact">Contact</a></li>
                        <li><a href="404.html">404 Page</a></li>
                        <li><a href="#" id="mu-search-icon"><i class="fa fa-search"></i></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i> <span class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/Home/Profile">Profile</a></li>
                                <li><a href="course-detail.html">Balance</a></li>
                                <li><a href="/Courses/Cart">Cart</a></li>
                                <li><a href="/Home/Logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </section>
    <!-- End menu -->
    <!-- Start search box -->
    <div id="mu-search">
        <div class="mu-search-area">
            <button class="mu-search-close"><span class="fa fa-close"></span></button>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form class="mu-search-form">
                            <input type="search" placeholder="Type Your Keyword(s) & Hit Enter">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End search box -->
    <!-- Page breadcrumb -->
    <section id="mu-page-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-page-breadcrumb-area">
                        <h2>Blog</h2>
                        <ol class="breadcrumb">
                            <li><a href="/Home/HomePage">Home</a></li>
                            <li class="active">Blog</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb -->
    <!-- Start blog  -->
    <div class="row">
        <div class="col-md-12" style="display: flex; justify-content:center; align-content:center; margin: 10px 0px ">
            <button class="btn btn-primary"><a href="/Blog/NewBlog">NEW</a></button>
        </div>
    </div>
    <secsion class="blogdiscuss">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Discussion Comment -->
                    @foreach (var item in list)
                    {
                        <div class="discussion-comment">
                            <div class="row">
                                    <div class="col-md-6">
                                        <h5>@($"{item.User.FirstName} {item.User.LastName}")</h5>
                                    </div>
                                <div class="col-md-6 text-right">
                                    <h6>Created Date: @item.CreatedDate</h6>
                                    <h6>Update Date: @item.UpdatedDate</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Title: @item.Title</h4>
                                    <p>Content: @item.Content</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <div class="btn-group">
                                        @if (UserId == item.User.Id)
                                        {
                                            <button class="btn btn-primary">View</button>
                                            <button class="btn btn-success"><a style="color:white" href="/Blog/UpdateBlog?id=@item.Id">Update</a></button>
                                            <button class="btn btn-danger"><a style="color:white" href="/Blog/DeleteBlog?id=@item.Id">Delete</a></button>
                                        }
                                        <button class="btn btn-primary">Comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- End Discussion Comment -->
                </div>
            </div>
        </div>

    </secsion>
    <!-- End blog  -->
    <!-- Start footer -->
    <footer id="mu-footer">
        <!-- start footer top -->
        <div class="mu-footer-top">
            <div class="container">
                <div class="mu-footer-top-area">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-footer-widget">
                                <h4>Information</h4>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="">Features</a></li>
                                    <li><a href="">Course</a></li>
                                    <li><a href="">Event</a></li>
                                    <li><a href="">Sitemap</a></li>
                                    <li><a href="">Term Of Use</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-footer-widget">
                                <h4>Student Help</h4>
                                <ul>
                                    <li><a href="">Get Started</a></li>
                                    <li><a href="#">My Questions</a></li>
                                    <li><a href="">Download Files</a></li>
                                    <li><a href="">Latest Course</a></li>
                                    <li><a href="">Academic News</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-footer-widget">
                                <h4>News letter</h4>
                                <p>Get latest update, news & academic offers</p>
                                <form class="mu-subscribe-form">
                                    <input type="email" placeholder="Type your Email">
                                    <button class="mu-subscribe-btn" type="submit">Subscribe!</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-footer-widget">
                                <h4>Contact</h4>
                                <address>
                                    <p>P.O. Box 320, Ross, California 9495, USA</p>
                                    <p>Phone: (415) 453-1568 </p>
                                    <p>Website: www.markups.io</p>
                                    <p>Email: info@markups.io</p>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end footer top -->
        <!-- start footer bottom -->
        <div class="mu-footer-bottom">
            <div class="container">
                <div class="mu-footer-bottom-area">
                    <p>&copy; All Right Reserved. Designed by <a href="http://www.markups.io/" rel="nofollow">MarkUps.io</a></p>
                </div>
            </div>
        </div>
        <!-- end footer bottom -->
    </footer>
    <!-- End footer -->
    <!-- jQuery library -->
    <script src="../home/assets/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../home/assets/js/bootstrap.js"></script>
    <!-- Slick slider -->
    <script type="text/javascript" src="../home/assets/js/slick.js"></script>
    <!-- Counter -->
    <script type="text/javascript" src="../home/assets/js/waypoints.js"></script>
    <script type="text/javascript" src="../home/assets/js/jquery.counterup.js"></script>
    <!-- Mixit slider -->
    <script type="text/javascript" src="../home/assets/js/jquery.mixitup.js"></script>
    <!-- Add fancyBox -->
    <script type="text/javascript" src="../home/assets/js/jquery.fancybox.pack.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom js -->
    <script src="../home/assets/js/custom.js"></script>

</body>
</html>